/* CSS HEX
--gunmetal: #233240ff;
--platinum: #d0dce1ff;
--gunmetal-2: #172431ff;
--cadet-gray: #839facff;
--charcoal: #244e64ff;
*/

/* Startseite */
body.afiorello_index {
    background-image: url("../bilder/backgroundimage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.afiorello_section-index img{
    display: block;
    max-height: 500px;
    height: auto;
    margin: 0 auto 5%;
}

/* Seitenübergreifendes Styling */

:root {
  --width: 100%;
}

body {
    margin: 0px;
    font-family: Arial; 
    background: linear-gradient(to bottom, #172431ff, #233240ff);
    /* Textfarbe */
    color: #d0dce1ff;
}

body > *:not(nav):not(footer) {
    margin: auto;
    font-family: Arial; 
    width: min(2000px, calc(70vw + 200px));
    max-width: 95vw;
}

.afiorello_sektionen_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


p {
    margin: 10px 0px 10px 0px;
}

footer {
    text-align: center;
    background-color: #172431;
    padding: 10px;
    margin-top: 50px;
}

footer p {
    margin: 0px;
}

figure, img, div {
    margin: 0px;
}

a {
    color: white;
}

a:hover {
    color: #B0B0B0;
}

.afiorello_breite_img {
    width: 100%;
}

.afiorello_main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* Schrifteinbindung über Font Face*/
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RussoOne-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1, h2, h3, h4{
    font-family: 'Russo One';
    color: #d0dce1ff;
}
h1 {
    font-size: 4em;
}

table {
    width: 100%;
}
th {
    text-align: center;
    background-color: #244E64;
    color: #D0DCE1;
    padding: 15px;
}

td {
    padding: 15px;
    text-align: center; 
  }

/* Abwechselnde Zeilenfarben für bessere Lesbarkeit */
tr:nth-child(even) {
    background-color: #D0DCE1;
    color: #172431;
}


/* Hover-Effekt für Zeilen */
tr:hover {
   background-color: #2B5D78; /* Konstrastfarbe, wenn die Maus über eine Zeile fährt */
}

/*Styling header */
.afiorello_header{
    display: flex;
    flex-wrap: wrap;
}
.afiorello_header img{
width: 100%;
max-width: 150px;
height: auto;
margin-right: 3%
}

/* Navbar für alle Seiten */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    position: relative; /* Wichtig für das Dropdown-Menü */
    flex: 1;
}

nav a {
    color: #D0DCE1;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

/* Styling der Hauptpunkte (Oberpunkte) */
nav ul li {
    background-color: #0D141C;
}

/* Styling für die Dropdown-Elemente */
nav ul ul {
    display: none; /* Standardmäßig versteckt */
    position: absolute;
}

nav li:hover ul {
    display: block; /* Zeige das Dropdown, wenn der Benutzer über den Oberpunkt hovert */
}

/* Hover-Effekte für die Unterpunkte */
nav ul ul li:hover {
    background-color: #244E64;
}

#afiorello_hamburger_button {
    display: none;
}

.aktiv {
    display: block;
}

@media (max-width: 768px) {

    #afiorello_navigationsleiste {
        display: none;
    }

    nav ul {
        display: block; 
    }
    ul li ul{
        margin-left: 20px;
    }

    nav ul ul {
    position: relative;
    display: block; 
    }
    #afiorello_hamburger_button {
        display: block;
    }

    #afiorello_navigationsleiste.aktiv {
        display: block; /* Menü wird sichtbar */
    }
    
    #afiorello_button_styling {
        display: flex;
        justify-content: center; /* Zentriert horizontal */
        align-items: center; /* Zentriert vertikal */
        height: 40px;
        background-color: #0D141C; 
    }
}  

/*Styling saison.html*/

.afiorello_ligatabelle {
    margin-bottom: 30px;
}

/* Styling personen.html */
.afiorello_personen-grid {
    display: flex;
    flex-wrap: wrap;
}

.afiorello_personen-grid img {
    width: 100%;
    max-width: 400px;
    margin: 1em 5em 1em 0em;
}


/* Styling trikots.html */

.afiorello_tasse, .afiorello_muetze {
    max-width: 250px;
    margin-right: 10px;
}

#afiorello_spalten_3_zu_2 {
    display:flex;
    flex-wrap: wrap;
}

#afiorello_spalte_fanartikel {
    width: 60%;
}

#afiorello_spalte_verlinkungen {
    width: 40%;
}

#afiorello_fanartikel {
    display: flex;
    flex-wrap: wrap;
}

/* Styling standort.html */
iframe {
    width: min(100%, 1000px)
}

/* Styling impressum.html */
#afiorello_logo_th_koeln {
    width: 200px;
}

#afiorello_logo_impressum_ice_goats {
    width: 150px;
}

/* Styling historie.html */
.afiorello_img_historie {
    width: 50%;
    float: left;
    margin: 0px 15px 5px 0px;
}

.afiorello_h2_historie_margin {
    margin-top: 0px;
}

/* Styling sponsoren.html */
.afiorello_sponsoren-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}

.afiorello_sponsoren-grid figure {
    margin-bottom: 50px;
}

.afiorello_sponsoren-grid figcaption {
    text-align: center;
}


.afiorello_sponsoren-grid img {
    width: 100%;
    max-width: 300px;
}






.afiorello_75_img {
    width: 75%;
}
